.color-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 10px 0px 0px 20px;
}

.colorpicker-button {
    cursor: pointer;
    background-color: white;
    border: none;
    height: 30px;
}