.color-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

.colorpicker-button {
    background-color: white;
    border-radius: 5px;
    border: 1px solid gray;
    width: 40px;
    height: 40px;
}