.button {
    cursor: pointer;
    background-color: rgb(106, 62, 250);
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    font-weight: 900;
}

.button:hover {
    background-color: rgb(106, 62, 250, 0.9);   
}